.content{
    width: 85%;
    margin: auto;
}
.imgItem{
    width: 100%;
    height: 233px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
}
.imgItem > img {
    border-radius: 10px;
    width: 100% !important;
}
.imgContent {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0bceaf;
}
h4 {
    font-size: 1.5rem;    
    font-weight: 700;
    line-height: 1.2;
    color: #343a40;
}
.imgContent > small {
    font-weight: 400;
    color: #ffff;
}
.content > h5 {
    margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #343a40;
  margin-top: 15px;
  font-family: Roboto, sans-serif;
  text-align: left;
}
.content > h3 {
    font-family: Roboto, sans-serif;
  color: #0bceaf;
  background-color: #fff;
  border: 1px solid #0bceaf;
  padding: 10px 25px;
  border-radius: 100px;
  margin: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}


.content > h3:hover {
    background-color: #0bceaf;
    color: #fff;
  }